.logo {
    position: relative;
    position: center;
    top: 0;
    z-index: 1;
} 

.gradLines {
    height: 50px;
}

.GLblack {
    background-color: #000;
    height: 2px;
    opacity: 100%;
}

.GLdarkGray {
    background-color: #000;
    height: 2px;
    opacity: 75%
}

.GLlightGray {
    background-color: #000;
    height: 2px;
    opacity: 50%;
}

.GLlightestGray {
    background-color: #000;
    height: 2px;
    opacity: 25%;
}

.menu {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.menuLeft {
    display: flex;
    flex-direction: row;
    justify-content: center space-around;
    align-items: center;
}

.menuRight {
    display: flex;
    flex-direction: row;
    justify-content: center space-around;
}

#menuAbout {
    display: flex;
    flex-direction: row;
    padding: 50%;
}

#menuWork {
    display: flex;
    flex-direction: row;
    padding: 50%;
    justify-content: center;
}

.contentImages {
    display: inline-block;
    width: 25%;
    justify-content: center space-evenly;
    position: center;
}

.heroImg {
    position: center;
}


#headshot {
    display: inline-block;
    border-radius: 50%;
    border: 4px;
    border-color: black;
    justify-content: center;
    width: 250px;
}  

#trooper {
    display: inline-block;
    border-radius: 50%;
    border: 4px;
    border-color: black;
    justify-content: center;
    width: 250px;
}

#moonbeam {
    display: inline-block;
    border-radius: 50%;
    border: 4px;
    border-color: black;
    justify-content: center;
    width: 250px;
}

.contentLeft {
    display: inline-block;
    justify-content: left;
    width: 25%;
    padding: 50px;
}

.contentRight {
    display: inline-block;
    width: 25%;
    padding: 50px;
    justify-content: right;
}

.footer {
    display: flex;
    flex-flow: row; 
    justify-content: space-around;
    align-items: center;
    background-color: #373738;
    font-family: "Roboto";
    color: white;
    height: 100px;
}

.textLeft {
    font-family: Arial, Helvetica, sans-serif;
}

.textRight {
    font-family: Arial, Helvetica, sans-serif;
}